*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  color: var(--color-neutral-solid-gray-900);
  background: var(--color-neutral-white);
}

img,
svg {
  max-width: 100%;
  height: auto;
}
